{% extends 'base.html' %}

{% block title %}Edit Campaign{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 cona">Edit Campaign</h2>

    <form method="POST" action="{{ url_for('edit_campaign', campaign_id=campaign.id) }}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ campaign.title }}" required>
            
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ campaign.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="niche">Niche</label>
            <input type="text" class="form-control" id="niche" name="niche" value="{{ campaign.niche }}" required>
        </div>
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ campaign.start_date }}" required>
        </div>
        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ campaign.end_date }}" required>
        </div>
        <div class="form-group">
            <label for="budget">Budget</label>
            <input type="number" class="form-control" id="budget" name="budget" value="{{ campaign.budget }}" required>
        </div>
        <div class="form-group">
            <label for="visibility">Visibility</label>
            <select class="form-control" id="visibility" name="visibility" required>
                <option value="public" {% if campaign.visibility == 'public' %}selected{% endif %}>Public</option>
                <option value="private" {% if campaign.visibility == 'private' %}selected{% endif %}>Private</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>
{% endblock %}
