{% extends 'base.html' %}

{% block title %}View Ad Request{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Ad Request Details</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Title: {{ ad_request.campaign.title }} - {{ ad_request.campaign.visibility.capitalize() }}</h5>
            <p class="card-text"><strong>Influencer: </strong>{{ ad_request.influencer.username.capitalize() }}</p>
            <p class="card-text"><strong>Campaign Goals:</strong> {{ ad_request.campaign.goals }}</p>
            <p class="card-text"><strong>AD Details:</strong> {{ ad_request.details }}</p>
            <p class="card-text"><strong>Payment Amount:</strong> {{ ad_request.payment_amount }} Rs.</p>
            <p class="card-text"><strong> Status: {{ ad_request.status }}</strong></p>
            <p class="card-text"><strong>Last updated:</strong> {{ ad_request.updated_at }}</p>
            <p class="card-text"><strong>Ads Completed:</strong> {{ ad_request.ads_completed }} / {{ ad_request.ads_required }}</p>
            <a href="{{ url_for('sponsor_ad_requests') }}" class="btn btn-secondary">Back</a>
            
        </div>
    </div>
</div>
{% endblock %}
