{% extends 'base.html' %}

{% block title %}Manage Ad Requests{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Manage Ad Requests</h2>

    <!-- Create Private Ad Request Modal Trigger -->
    <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#createAdRequestModal">
        Create Private Ad Request
    </button>

    <!-- Private Sent Requests -->
    <div class="mb-5">
        <h3>Sent Requests</h3>
        <div class="row">
            {% for ad_request in private_ad_requests %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ ad_request.campaign.title }} - {{ ad_request.campaign.visibility.capitalize() }}</h5>
                            <strong class="card-text"> Receiving Influencer: {{ ad_request.influencer.username }}</strong>
                            <p class="card-text">Status: {{ ad_request.status }}</p>

                            <p class="card-text">Payment Amount: {{ ad_request.payment_amount }}</p>

                            <p class="card-text">Ads Completed: {{ ad_request.ads_completed }} / {{ ad_request.ads_required }}</p>
                            
                            <!-- View button -->
                            <a href="{{ url_for('sponsor_view_ad_request', ad_request_id=ad_request.id) }}" class="btn btn-info" >View</a>

                            <!-- Update button -->
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateAdRequestModal-{{ ad_request.id }}">
                                Update
                            </button>

                            <!-- Delete button -->
                            <form method="POST" action="{{ url_for('delete_ad_request', ad_request_id=ad_request.id) }}" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Update  private sendt Ad Request Modal -->
                <div class="modal fade" id="updateAdRequestModal-{{ ad_request.id }}" tabindex="-1" role="dialog" aria-labelledby="updateAdRequestModalLabel-{{ ad_request.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="POST" action="{{ url_for('update_ad_request', ad_request_id=ad_request.id) }}">
                                
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateAdRequestModalLabel-{{ ad_request.id }}">Update Ad Request</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="details">Details</label>
                                        <textarea class="form-control" id="details" name="details" rows="3" value="{{ ad_request.details }}" required>{{ ad_request.details }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="payment_amount">Payment Amount</label>
                                        <input type="number" class="form-control" id="payment_amount" name="payment_amount" value="{{ ad_request.payment_amount }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="ads_required">Ads Required</label>
                                        <input type="number" class="form-control" id="ads_required" name="ads_required" value="{{ ad_request.ads_required }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="ads_required">Ads Completed</label>
                                        <input type="number" class="form-control" id="ads_completed" name="ads_completed" value="{{ ad_request.ads_completed }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" id="status" name="status" required>
                                            <option value="Pending" {% if ad_request.status == 'Pending' %}selected{% endif %}>Pending</option>
                                            <option value="Accepted" {% if ad_request.status == 'Accepted' %}selected{% endif %}>Accepted</option>
                                            <option value="Rejected" {% if ad_request.status == 'Rejected' %}selected{% endif %}>Rejected</option>
                                            <option value="Completed" {% if ad_request.status == 'Completed' %}selected{% endif %}>Completed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update Ad Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<!-- Received Requests -->
<div class="mb-5">
    <h3>Received Requests</h3>
    <div class="row">
        {% for ad_request in public_ad_requests %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ ad_request.campaign.title }} - {{ ad_request.campaign.visibility.capitalize() }}</h5>
                        <strong class="card-text">Sending Influencer: {{ ad_request.influencer.username }}</strong>
                        <p class="card-text">Status: {{ ad_request.status }}</p>
                        
                        <p class="card-text"> Payment Amount: {{ ad_request.payment_amount }}</p>

                        <p class="card-text">Ads Completed: {{ ad_request.ads_completed }} / {{ ad_request.ads_required }}</p>
                        <a href="{{ url_for('sponsor_view_ad_request', ad_request_id=ad_request.id) }}" class="btn btn-info">View</a>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateAdRequestModal-{{ ad_request.id }}">
                            Update
                        </button>
                           

                        <!-- Conditionally render buttons based on ad_request status -->
                        {% if ad_request.status == 'Pending' %}
                            <form method="POST" action="{{ url_for('update_request_status', ad_request_id=ad_request.id) }}" style="display:inline;">
                                <input type="hidden" name="status" value="Accepted">
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <form method="POST" action="{{ url_for('update_request_status', ad_request_id=ad_request.id) }}" style="display:inline;">
                                <input type="hidden" name="status" value="Rejected">
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>

                        {% elif ad_request.status == 'Accepted' %}
                            <form method="POST" action="{{ url_for('update_request_status', ad_request_id=ad_request.id) }}" style="display:inline;">
                                <input type="hidden" name="status" value="Completed">
                                <button type="submit" class="btn btn-primary">Mark Completed</button>
                            </form>

                        {% elif ad_request.status == 'Rejected' %}
                            <form method="POST" action="{{ url_for('delete_ad_request', ad_request_id=ad_request.id) }}" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Update Ad Request Modal -->
            <div class="modal fade" id="updateAdRequestModal-{{ ad_request.id }}" tabindex="-1" role="dialog" aria-labelledby="updateAdRequestModalLabel-{{ ad_request.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="POST" action="{{ url_for('update_ad_request', ad_request_id=ad_request.id) }}">
                            
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateAdRequestModalLabel-{{ ad_request.id }}">Update Ad Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="details">Details</label>
                                    <textarea class="form-control" id="details" name="details" rows="3" value="{{ ad_request.details }}" required>{{ ad_request.details }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="payment_amount">Payment Amount</label>
                                    <input type="number" class="form-control" id="payment_amount" name="payment_amount" value="{{ ad_request.payment_amount }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="ads_required">Ads Required</label>
                                    <input type="number" class="form-control" id="ads_required" name="ads_required" value="{{ ad_request.ads_required }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="ads_required">Ads Completed</label>
                                    <input type="number" class="form-control" id="ads_completed" name="ads_completed" value="{{ ad_request.ads_completed }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" id="status" name="status" required>
                                        <option value="Pending" {% if ad_request.status == 'Pending' %}selected{% endif %}>Pending</option>
                                        <option value="Accepted" {% if ad_request.status == 'Accepted' %}selected{% endif %}>Accepted</option>
                                        <option value="Rejected" {% if ad_request.status == 'Rejected' %}selected{% endif %}>Rejected</option>
                                        <option value="Completed" {% if ad_request.status == 'Completed' %}selected{% endif %}>Completed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update Ad Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!-- Create Private Ad Request Modal -->
<div class="modal fade" id="createAdRequestModal" tabindex="-1" role="dialog" aria-labelledby="createAdRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('create_private_ad_request') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="createAdRequestModalLabel">Create Private Ad Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="campaign_id">Select Campaign</label>
                        <select class="form-control" id="campaign_id" name="campaign_id" required>
                            {% for campaign in private_campaigns %}
                                <option value="{{ campaign.id }}">{{ campaign.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="influencer_id">Select Influencer</label>
                        <select class="form-control" id="influencer_id" name="influencer_id" required>
                            {% for influencer in influencers %}
                                <option value="{{ influencer.id }}">{{ influencer.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea class="form-control" id="details" name="details" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="payment_amount">Payment Amount</label>
                        <input type="number" class="form-control" id="payment_amount" name="payment_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="ads_required">Ads Required</label>
                        <input type="number" class="form-control" id="ads_required" name="ads_required" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Ad Request</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
