{% extends 'base.html' %}

{% block title %}View Ad Request{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Ad Request Details</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Title: {{ ad_request.campaign.title }} - {{ ad_request.campaign.visibility.capitalize() }}</h5>
            <p class="card-text"><strong>Sponosr:</strong> {{ ad_request.sponsor.username }}</p>
            <p class="card-text"><strong>Camapaign Goals:</strong> {{ ad_request.campaign.goals }}</p>
            <p class="card-text"><strong>AD Details:</strong> {{ ad_request.details }}</p>
            <p class="card-text"><strong>Payment Amount:</strong> {{ ad_request.payment_amount }} Rs.</p>
            <p class="card-text"><strong>Status:</strong> {{ ad_request.status }}</p>
            <p class="card-text"><strong>Ads Completed:</strong> {{ ad_request.ads_completed }} / {{ ad_request.ads_required }}</p>
            <p class="card-text"><strong>Last Updated:</strong> {{ ad_request.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <a href="{{ url_for('influencer_ad_requests') }}" class="btn btn-secondary">Back</a>
            <!-- Show Negotiation Options for the Receiver -->
            
        </div>
    </div>
</div>
{% endblock %}
