{% extends "base.html" %} 
{% block title %} Home page {% endblock %} 
{% block content%}
<style>
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .card {
    margin: 20px;
    width: 18rem;
  }
</style>
<div class="container card-container">
  <!-- Admin Card -->
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Admin</h5>
      <p class="card-text">Login as an admin.</p>
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </div>

  <!-- Sponsor Card -->
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Sponsor</h5>
      <p class="card-text">Login or sign up as a sponsor.</p>
      <a href="/login" class="btn btn-primary">Login</a>
      <a href="/sponsor_signup" class="btn btn-secondary">Sign Up</a>
    </div>
  </div>

  <!-- Influencer Card -->
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Influencer</h5>
      <p class="card-text">Login or sign up as an influencer.</p>
      <a href="/login" class="btn btn-primary">Login</a>
      <a href="/influencer_signup" class="btn btn-secondary">Sign Up</a>
    </div>
  </div>
</div>


{% endblock %}
